.body {
    background-color: #2b2a33;
    color: #fff;
    font-family: 'Noto Sans Mono', monospace;
}

.body .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.body .wrapper h1 {
    font-size: 20em;
    font-weight: bold;
}
